<div class="my-6 px-6 flex items-center">
  <div class="px-2">แสดง</div>
  <select2 placeholder="10" class="w-20" [value]="pageSize" (update)="pageSizeChangeValue($event)" [data]="pageSizeOptions"></select2>
  <div class="flex-1"></div>
  <div class="px-2">หน้า <b>{{page}}-{{totalPage}}</b></div>
  <div class=""><img class="w-8 border border-gray-50 rounded-sm cursor-pointer" src="assets/icons/left.svg" (click)="pageChangeUpDown(-1)" /></div>
  <div class=""><img class="w-8 border border-gray-50 rounded-sm cursor-pointer transform rotate-180" src="assets/icons/left.svg" (click)="pageChangeUpDown(1)" />
  </div>
</div>
