<div class="flex flex-col h-full">
  <div class="flex items-center my-2 space-x-4">
    <div class="flex-1">
      <app-nav title="ประวัติการใช้รีวอร์ด" class=""></app-nav>
      <!-- <div class="px-4 max-w-sm">
        <select2
          class="w-full select-text-primary"
          [value]="type"
          (update)="typeChange($event)"
          [data]="typeOption"
          placeholder="ประเภท"
        ></select2>
      </div> -->
    </div>

    <!-- <a
      ><button
        class="button-yellow flex items-center space-x-4"
        (click)="exportClick()"
      >
        <img src="assets/icons/export.svg" class="w-6" />
        <div>Export</div>
      </button></a
    > -->
  </div>

  <div class="flex-1 mx-w my-2 bg-white p-6 space-y-6">
    <div class="border border-primary border-opacity-25 rounded-md">
      <div
        class="px-8 py-2 flex items-center space-x-4 bg-primary bg-opacity-15"
      >
        <img
          src="assets/icons/menus/reward-history-primary.svg"
          class="w-6 text-primary"
        />
        <div class="text-primary">GSB Reward Point แลก Cashback</div>
      </div>
      <div class="px-8 py-4 flex justify-between items-center">
        <div class="flex-1">
          <div class="text-sm text-gray-500">เลือกวันที่</div>
          <div class="relative w-full max-w-sm">
            <input
              class="input"
              [owlDateTime]="date1"
              [owlDateTimeTrigger]="date1"
              placeholder="วันที่: "
              selectMode="range"
              [value]="date1"
              (dateTimeInput)="date1Change($event.value)"
            />
            <img
              [owlDateTimeTrigger]="date1"
              src="assets/icons/calendar.svg"
              class="absolute bottom-2 right-2 w-6 cursor-pointer"
            />
            <owl-date-time #date1 pickerType="calendar"></owl-date-time>
          </div>
        </div>
        <a
          ><button
            class="button-dark flex items-center space-x-4"
            (click)="export1Click()"
          >
            <img src="assets/icons/export.svg" class="w-6" />
            <div>ส่งออกข้อมูล</div>
          </button></a
        >
      </div>
    </div>

    <div class="border border-primary border-opacity-25 rounded-md">
      <div
        class="px-8 py-2 flex items-center space-x-4 bg-primary bg-opacity-15"
      >
        <img
          src="assets/icons/menus/reward-history-primary.svg"
          class="w-6 text-primary"
        />
        <div class="text-primary">GSB Reward Point แลก ของ</div>
      </div>
      <div class="px-8 py-4 flex justify-between items-center">
        <div class="flex-1">
          <div class="text-sm text-gray-500">เลือกวันที่</div>
          <div class="relative w-full max-w-sm">
            <input
              class="input"
              [owlDateTime]="date2"
              [owlDateTimeTrigger]="date2"
              placeholder="วันที่: "
              selectMode="range"
              [value]="date2"
              (dateTimeInput)="date2Change($event.value)"
            />
            <img
              [owlDateTimeTrigger]="date2"
              src="assets/icons/calendar.svg"
              class="absolute bottom-2 right-2 w-6 cursor-pointer"
            />
            <owl-date-time #date2 pickerType="calendar"></owl-date-time>
          </div>
        </div>
        <a
          ><button
            class="button-dark flex items-center space-x-4"
            (click)="export2Click()"
          >
            <img src="assets/icons/export.svg" class="w-6" />
            <div>ส่งออกข้อมูล</div>
          </button></a
        >
      </div>
    </div>

    <div class="border border-primary border-opacity-25 rounded-md">
      <div
        class="px-8 py-2 flex items-center space-x-4 bg-primary bg-opacity-15"
      >
        <img
          src="assets/icons/menus/reward-history-primary.svg"
          class="w-6 text-primary"
        />
        <div class="text-primary">GSB Reward Point แลก Point</div>
      </div>
      <div class="px-8 py-4 flex justify-between items-center">
        <div class="flex-1">
          <div class="text-sm text-gray-500">เลือกวันที่</div>
          <div class="relative w-full max-w-sm">
            <input
              class="input"
              [owlDateTime]="date3"
              [owlDateTimeTrigger]="date3"
              placeholder="วันที่: "
              selectMode="range"
              [value]="date3"
              (dateTimeInput)="date3Change($event.value)"
            />
            <img
              [owlDateTimeTrigger]="date3"
              src="assets/icons/calendar.svg"
              class="absolute bottom-2 right-2 w-6 cursor-pointer"
            />
            <owl-date-time #date3 pickerType="calendar"></owl-date-time>
          </div>
        </div>
        <a
          ><button
            class="button-dark flex items-center space-x-4"
            (click)="export3Click()"
          >
            <img src="assets/icons/export.svg" class="w-6" />
            <div>ส่งออกข้อมูล</div>
          </button></a
        >
      </div>
    </div>

    <div class="border border-primary border-opacity-25 rounded-md">
      <div
        class="px-8 py-2 flex items-center space-x-4 bg-primary bg-opacity-15"
      >
        <img
          src="assets/icons/menus/reward-history-primary.svg"
          class="w-6 text-primary"
        />
        <div class="text-primary">GSB Reward Point แลก Code</div>
      </div>
      <div class="px-8 py-4 flex justify-between items-center">
        <div class="flex-1">
          <div class="text-sm text-gray-500">เลือกวันที่</div>
          <div class="relative w-full max-w-sm">
            <input
              class="input"
              [owlDateTime]="date4"
              [owlDateTimeTrigger]="date4"
              placeholder="วันที่: "
              selectMode="range"
              [value]="date4"
              (dateTimeInput)="date4Change($event.value)"
            />
            <img
              [owlDateTimeTrigger]="date4"
              src="assets/icons/calendar.svg"
              class="absolute bottom-2 right-2 w-6 cursor-pointer"
            />
            <owl-date-time #date4 pickerType="calendar"></owl-date-time>
          </div>
        </div>
        <a
          ><button
            class="button-dark flex items-center space-x-4"
            (click)="export4Click()"
          >
            <img src="assets/icons/export.svg" class="w-6" />
            <div>ส่งออกข้อมูล</div>
          </button></a
        >
      </div>
    </div>

    <!-- <div class="py-4 px-6 flex space-x-4">
      <div class="flex-1 flex relative">
        <img
          src="assets/icons/search.svg"
          class="mx-auto w-6 absolute top-2 left-2"
          alt=""
        />
        <input
          class="input max-w-md pl-10"
          [(ngModel)]="q"
          placeholder="ค้นหา: ชื่อ, เลขบัตรเครดิต, เบอร์โทรศัพท์, รีวอร์ด"
          (ngModelChange)="qChange()"
        />
      </div>

      <div class="flex items-center space-x-2">
        <div>สถานะ</div>
        <select2
          class="w-44"
          [value]="status"
          (update)="statusChange($event)"
          [data]="statusOption"
          placeholder="สถานะ"
        ></select2>
      </div>

      <div class="relative">
        <input
          class="input"
          [owlDateTime]="date"
          [owlDateTimeTrigger]="date"
          placeholder="วันที่: "
          selectMode="range"
          (dateTimeInput)="dateChange($event.value)"
        />
        <img
          [owlDateTimeTrigger]="date"
          src="assets/icons/calendar.svg"
          class="absolute bottom-2 right-2 w-6 cursor-pointer"
        />
        <owl-date-time #date pickerType="calendar"></owl-date-time>
      </div>
    </div>

    <div class="px-6 table w-full">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell">
            <app-checkbox
              [value]="selectIndex.length >= list.length"
              (valueUpdate)="selectIndexAllClick($event)"
            ></app-checkbox>
          </div>
          <div class="table-cell">วันที่ทำรายการ</div>
          <div class="table-cell">ชื่อรีวอร์ด</div>
          <div class="table-cell">เลขบัตรเครดิต</div>
          <div class="table-cell">ชื่อ-นามสกุล</div>
          <div class="table-cell">เบอร์โทร</div>
          <div class="table-cell">คะแนนที่ใช้แลก</div>
          <div class="table-cell">เครดิตเงินคืน</div>
          <div class="table-cell">สถานะ</div>
        </div>
      </div>
      <div class="table-row-group">
        <div class="table-row" *ngFor="let item of list; let i = index">
          <div class="table-cell">
            <app-checkbox
              [value]="selectIndex.includes(i)"
              (valueUpdate)="
                $event
                  ? selectIndex.push(i)
                  : (selectIndex = pull(selectIndex, i))
              "
            ></app-checkbox>
          </div>
          <div class="table-cell">{{ dateFormat(item.date) }}</div>
          <div class="table-cell">{{ item.name }}</div>
          <div class="table-cell">{{ item.cardNumber }}</div>
          <div class="table-cell">
            {{ item.cardName }}
          </div>
          <div class="table-cell">{{ item.telephone }}</div>
          <div class="table-cell">{{ item.point }}</div>
          <div class="table-cell">{{ item.cashBack }}</div>
          <div class="table-cell">
            <div class="flex flex-nowrap space-x-2 items-center">
              <div class="w-2 h-2 rounded-full bg-green-500"></div>
              <div>สำเร็จ</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-pagination
      [page]="page"
      [totalPage]="totalPage"
      (pageSizeChange)="pageSizeChange($event)"
      (pageChange)="pageChange($event)"
    ></app-pagination> -->
  </div>
</div>
