<div class="h-full">
  <form
    [formGroup]="submitForm"
    (submit)="sf.form.valid && onSubmit()"
    #sf="ngForm"
    class="flex flex-col h-full"
  >
    <div class="flex items-center my-2">
      <app-nav
        title="จัดการการผ่อนชำระ"
        [items]="navItems"
        class="flex-1"
      ></app-nav>
      <div class="flex items-center space-x-2 text-sm">
        <div>สถานะ</div>
        <app-toggle
          [value]="submitForm.get('isActive')?.value || false"
          (valueUpdate)="submitForm.get('isActive')?.setValue($event)"
          [disabled]="mode == 'view'"
        ></app-toggle>
        <div>
          {{ submitForm.get("isActive")?.value ? "แสดงผล" : "ไม่แสดงผล" }}
        </div>
      </div>
    </div>

    <div class="flex-1 flex flex-col">
      <div class="flex-1 my-2 py-6 bg-white">
        <div class="flex">
          <div class="w-full max-w-lg px-4">
            <div class="font-semibold my-2">การผ่อนชำระ</div>
            <div class="border border-gray-100 rounded-md p-6 space-y-4">
              <div class="">
                <div class="text-sm">ชื่อการผ่อนชำระ</div>
                <input
                  class="input"
                  placeholder="ชื่อการผ่อนชำระ"
                  name="name"
                  formControlName="name"
                />
              </div>
              <div class="">
                <div class="text-sm">รายละเอียด</div>
                <input
                  class="input"
                  placeholder="รายละเอียด"
                  name="description"
                  formControlName="description"
                />
              </div>
              <div>
                <div class="text-sm">Installment Plan</div>
                <select2
                  class="flex w-full"
                  [value]="submitForm.get('planId')?.value || ''"
                  (update)="installmentPlanChange($event)"
                  [data]="installmentPlanOption"
                  placeholder="Installment Plan"
                  [disabled]="mode == 'view'"
                ></select2>
              </div>

              <div class="border-t border-gray-100 py-2">
                <div class="font-semibold text-sm">รายการผ่อนชำระ</div>

                <div
                  class="my-2 flex space-x-4"
                  *ngFor="let item of installmentPlan.planInstallment"
                >
                  <div class="flex-1">
                    <div class="text-sm">อัตราดอกเบี้ย</div>
                    <input
                      class="input text-right"
                      placeholder="อัตราดอกเบี้ย"
                      [value]="item.interestRate"
                      disabled
                    />
                  </div>
                  <div class="flex-1">
                    <div class="text-sm">จำนวนเดือนผ่อน</div>
                    <input
                      class="input text-right"
                      placeholder="จำนวนเดือนผ่อน"
                      [value]="item.month"
                      disabled
                    />
                  </div>
                  <div class="flex-1">
                    <div class="text-sm">ยอดขั้นต่ำ</div>
                    <input
                      class="input text-right"
                      placeholder="ยอดขั้นต่ำ"
                      [value]="item.expensesMinimumInstallment"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full max-w-lg px-4">
            <div class="font-semibold my-2">กำหนดเงื่อนไข</div>
            <div class="border border-gray-100 rounded-md p-6 space-y-4">
              <div class="my-2">
                <!-- <div class="text-sm">MCC (พิเศษ) ที่ใช้ในการผ่อนชำระ</div>
                <app-tag
                  [value]="mccs"
                  (valueUpdate)="mccChange($event)"
                  placeholder="MCC (พิเศษ) ที่ใช้ในการผ่อนชำระ"
                  [disabled]="mode == 'view'"
                ></app-tag> -->
                <div class="text-sm">
                  MCC (พิเศษ) ที่ใช้ในการผ่อนชำระ (ไม่บังคับ)
                </div>
                <select2
                  class="flex w-full"
                  [value]="submitForm.get('mccCode')?.value || []"
                  [data]="mccOption"
                  multiple="true"
                  (update)="mccChange($event)"
                  placeholder="MCC (พิเศษ) ที่ใช้ในการผ่อนชำระ"
                  [disabled]="mode == 'view'"
                ></select2>
                <div class="text-sm py-1 text-gray-500">
                  *หากไม่ระบุจะใช้กับทุก MCC
                </div>
              </div>

              <div class="relative">
                <div class="text-sm">วันที่แสดง</div>
                <input
                  class="input"
                  [owlDateTime]="startDate"
                  [owlDateTimeTrigger]="startDate"
                  placeholder="วว/ดด/ปปปป"
                  name="startDate"
                  formControlName="startDate"
                />
                <img
                  [owlDateTimeTrigger]="startDate"
                  src="assets/icons/calendar.svg"
                  class="absolute bottom-2 right-2 w-6 cursor-pointer"
                />
                <owl-date-time #startDate pickerType="calendar"></owl-date-time>
              </div>
              <div class="relative">
                <div class="text-sm">วันที่สิ้นสุด</div>
                <input
                  class="input"
                  [owlDateTime]="endDate"
                  [owlDateTimeTrigger]="endDate"
                  placeholder="วว/ดด/ปปปป"
                  name="endDate"
                  formControlName="endDate"
                  [min]="submitForm.get('startDate')?.value"
                />
                <img
                  [owlDateTimeTrigger]="endDate"
                  src="assets/icons/calendar.svg"
                  class="absolute bottom-2 right-2 w-6 cursor-pointer"
                />
                <owl-date-time #endDate pickerType="calendar"></owl-date-time>
              </div>

              <div class="my-2">
                <div class="mb-2">ประเภทบัตรที่ผ่อนชำระได้</div>
                <div class="flex flex-wrap -mx-1">
                  <div class="p-1 w-full">
                    <div
                      class="px-3 py-2 bg-pink-100 rounded-md flex items-center space-x-2"
                    >
                      <img src="assets/icons/cards/visa.svg" class="w-8" />
                      <div class="flex-1 text-sm">GSB ทุกประเภท</div>
                      <app-checkbox
                        [value]="
                          submitForm.get('cardId')?.value?.length ==
                          cardIds.length
                        "
                        [partial]="
                          (submitForm.get('cardId')?.value || []).length > 0 &&
                          (submitForm.get('cardId')?.value || []).length !=
                            cardIds.length
                        "
                        (valueUpdate)="
                          submitForm
                            .get('cardId')
                            ?.setValue($event ? cardIds : [])
                        "
                        [disabled]="mode == 'view'"
                      ></app-checkbox>
                    </div>
                  </div>

                  <div *ngFor="let card of cards" class="p-1 w-1/2">
                    <div
                      class="px-3 py-2 bg-pink-100 rounded-md flex items-center space-x-2"
                    >
                      <img [src]="card.imageUrl" class="w-8" />
                      <div class="flex-1 text-xs truncate">{{ card.name }}</div>
                      <app-checkbox
                        [value]="
                          submitForm.get('cardId')?.value?.includes(card.id)
                        "
                        (valueUpdate)="updateCard($event, card.id)"
                        [disabled]="mode == 'view'"
                      ></app-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full max-w-lg px-4">
            <div class="font-semibold my-2">รายการยอดขั้นต่ำ</div>
            <div class="border border-gray-100 rounded-md p-6 space-y-4">
              <div class="text-sm">
                รายการยอดขั้นต่ำที่สามารถให้ทำรายการผ่อนได้
              </div>

              <div class="px-6 table w-full">
                <div class="table-header-group">
                  <div class="table-row">
                    <div class="table-cell py-1 text-center">#</div>
                    <div class="table-cell py-1">ประเภทบัตร</div>
                    <div class="table-cell py-1 text-right leading-none">
                      ยอดใช้จ่ายขั้นต่ำ
                      <div class="text-sm font-light">(ต่อเซลล์สลิป)</div>
                    </div>
                  </div>
                </div>
                <div class="table-row-group">
                  <div
                    *ngFor="let cardId of cardIds; let i = index"
                    class="table-row"
                  >
                    <div class="table-cell text-center">{{ i + 1 }}</div>
                    <div class="table-cell">{{ getCardName(cardId) }}</div>
                    <div class="table-cell text-right font-semibold">
                      {{ getCardMin(cardId) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="sticky bottom-0 px-6 py-6 box-shadow-bottom bg-white flex justify-end space-x-4 -mx-4 -my-2"
      >
        <a routerLink="/parameter"
          ><button class="button-default-border w-auto px-6">ยกเลิก</button></a
        >
        <button
          *ngIf="mode == 'view'"
          class="button-dark w-auto px-6"
          type="button"
          (click)="edit()"
        >
          แก้ไข
        </button>
        <button
          *ngIf="mode == 'edit'"
          type="submit"
          [disabled]="!submitForm.valid"
          class="button w-auto px-6"
        >
          {{ id == "create" ? "สร้างพารามิเตอร์" : "บันทึกพารามิเตอร์" }}
        </button>
      </div>
    </div>
  </form>
</div>
