<div class="h-full">
  <form
    [formGroup]="submitForm"
    (submit)="sf.form.valid && onSubmit()"
    #sf="ngForm"
    class="flex flex-col h-full"
  >
    <div class="flex items-center my-2">
      <app-nav
        title="จัดการโปรโมชัน"
        [items]="navItems"
        class="flex-1"
      ></app-nav>
      <div class="flex items-center space-x-2 text-sm">
        <div>สถานะ</div>
        <app-toggle
          [value]="submitForm.get('isActive')?.value || false"
          (valueUpdate)="submitForm.get('isActive')?.setValue($event)"
          [disabled]="mode == 'view'"
        ></app-toggle>
        <div>
          {{ submitForm.get("isActive")?.value ? "แสดงผล" : "ไม่แสดงผล" }}
        </div>
      </div>
    </div>

    <div class="flex-1 my-2 py-6 bg-white">
      <div class="flex">
        <div class="w-full max-w-lg px-4">
          <div class="font-semibold my-2">โปรโมชัน</div>
          <div class="border border-gray-100 rounded-md p-6 space-y-4">
            <div>
              <div class="flex">
                <div class="flex-1 text-sm">หมวดหมู่</div>
                <div
                  class="text-sm underline"
                  [ngClass]="{
                    'text-primary cursor-pointer': !(
                      mode == 'view' || id != 'create'
                    ),
                    'text-gray-400': mode == 'view' || id != 'create'
                  }"
                  (click)="
                    !(mode == 'view' || id != 'create')
                      ? createCategoryClick()
                      : ''
                  "
                >
                  เพิ่มหมวดหมู่
                </div>
              </div>

              <select2
                class="flex w-full"
                [value]="submitForm.get('categoryId')?.value || 0"
                (update)="categoryChange($event)"
                [data]="categoryOption"
                placeholder="เลือกหมวดหมู่"
                [disabled]="mode == 'view' || id != 'create'"
              ></select2>
            </div>
            <div class="">
              <div class="text-sm">ชื่อโปรโมชัน</div>
              <input
                class="input"
                name="name"
                formControlName="name"
                placeholder="ชื่อโปรโมชัน"
              />
            </div>

            <div>
              <div class="text-sm">รายละเอียด</div>
              <div>
                <angular-editor
                  placeholder="รายละเอียด"
                  minHeight="180"
                  name="description"
                  formControlName="description"
                  [config]="editorConfig"
                ></angular-editor>
              </div>
            </div>

            <div>
              <div class="text-sm">ข้อมูลที่เกี่ยวข้อง</div>
              <app-tag
                [value]="submitForm.get('aboutIt')?.value || []"
                (valueUpdate)="tagChange($event)"
                (valueUpdate)="tagChange($event)"
                placeholder="ข้อมูลที่เกี่ยวข้อง"
                [disabled]="mode == 'view'"
              ></app-tag>
            </div>
            <div class="relative">
              <div class="text-sm">วันที่แสดง</div>
              <input
                class="input"
                [owlDateTime]="startDate"
                [owlDateTimeTrigger]="startDate"
                name="startDate"
                formControlName="startDate"
                placeholder="วว/ดด/ปปปป"
                [disabled]="id != 'create'"
              />
              <img
                [owlDateTimeTrigger]="startDate"
                src="assets/icons/calendar.svg"
                class="absolute bottom-2 right-2 w-6 cursor-pointer"
              />
              <owl-date-time
                #startDate
                pickerType="calendar"
                [disabled]="id != 'create'"
              ></owl-date-time>
            </div>
            <div class="relative">
              <div class="text-sm">วันที่สิ้นสุด</div>
              <input
                class="input"
                [owlDateTime]="endDate"
                [owlDateTimeTrigger]="endDate"
                name="endDate"
                formControlName="endDate"
                placeholder="วว/ดด/ปปปป"
                [min]="submitForm.get('startDate')?.value"
              />
              <img
                [owlDateTimeTrigger]="endDate"
                src="assets/icons/calendar.svg"
                class="absolute bottom-2 right-2 w-6 cursor-pointer"
              />
              <owl-date-time #endDate pickerType="calendar"></owl-date-time>
            </div>
            <div class="flex space-x-2">
              <app-checkbox
                [value]="submitForm.get('isNotification')?.value || false"
                (valueUpdate)="
                  submitForm.get('isNotification')?.setValue($event)
                "
                [disabled]="mode == 'view' || id != 'create'"
                >ส่งการแจ้งเตือนเมื่อถึงวันแสดงผล</app-checkbox
              >
            </div>
          </div>
        </div>

        <div class="w-full max-w-lg px-4">
          <div class="font-semibold my-2">กำหนดเงื่อนไข</div>
          <div class="border border-gray-100 rounded-md p-6 space-y-4">
            <div>
              <div class="text-sm">ประเภทโปรโมชัน</div>
              <select2
                class="flex w-full"
                [value]="submitForm.get('typeId')?.value || 0"
                (update)="promotionTypeChange($event)"
                [data]="promotionTypeOption"
                placeholder="เลือกหมวดหมู่"
                [disabled]="mode == 'view' || id != 'create'"
              ></select2>
            </div>

            <div
              *ngIf="[1, 2, 3].includes(submitForm.get('typeId')?.value || 0)"
            >
              <div class="text-sm">ร้านค้า/แบรนด์</div>
              <select2
                class="flex w-full"
                [value]="submitForm.get('shopId')?.value || 0"
                (update)="shopChange($event)"
                [data]="shopOption"
                placeholder="เลือกร้านค้า/แบรนด์"
                [disabled]="mode == 'view' || id != 'create'"
              ></select2>
            </div>

            <div
              *ngIf="[1, 2, 3].includes(submitForm.get('typeId')?.value || 0)"
              class="my-2"
            >
              <!-- <div class="text-sm">MCC (พิเศษ) ที่ใช้ในการผ่อนชำระ</div>
              <app-tag
                [value]="mccs"
                (valueUpdate)="mccChange($event)"
                placeholder="MCC (พิเศษ) ที่ใช้ในการผ่อนชำระ"
              ></app-tag> -->
              <!--  -->
              <div class="text-sm">MCC (พิเศษ) ที่ใช้ในการผ่อนชำระ</div>
              <select2
                class="flex w-full"
                [value]="submitForm.get('mccCode')?.value || []"
                [data]="mccOption"
                multiple="true"
                (update)="mccChange($event)"
                placeholder="MCC (พิเศษ) ที่ใช้ในการผ่อนชำระ"
                [disabled]="mode == 'view' || id != 'create'"
              ></select2>
            </div>

            <div
              *ngIf="[2].includes(submitForm.get('typeId')?.value || 0)"
              class="border rounded-md border-gray-100 px-4 py-4 space-y-4"
            >
              <div>
                <div class="text-sm">ประเภท Code</div>
                <select2
                  class="flex w-full"
                  [value]="submitForm.get('generateType')?.value || []"
                  (update)="generateTypeChange($event)"
                  [data]="codeTypeOption"
                  placeholder="เลือกประเภท Code"
                  [disabled]="mode == 'view' || id != 'create'"
                ></select2>
              </div>
              <div *ngIf="submitForm.get('generateType')?.value == 1">
                <div class="text-sm">Prefix code</div>
                <input
                  class="input"
                  name="prefixCode"
                  formControlName="prefixCode"
                  placeholder="Prefix code"
                  [disabled]="id != 'create'"
                  maxlength="5"
                  pattern="[A-Za-z0-9]{5}"
                />

                <div class="text-sm text-gray-400">
                  ประกอบด้วย Prefix 5 หลัก (ตัวเลขหรือตัวอักษร)
                </div>
              </div>
              <div *ngIf="submitForm.get('generateType')?.value == 2">
                <button
                  class="button-border text-center flex items-center justify-center space-x-4 w-full"
                  type="button"
                  (click)="inputCode.click()"
                  [disabled]="mode == 'view'"
                >
                  <img src="assets/icons/document.svg" class="w-6" />
                  <div>นำเข้าเอกสาร</div>
                </button>

                <div
                  class="my-2 px-4 py-2 border border-gray-100 rounded-md flex items-center space-x-4 max-w-full"
                  *ngFor="
                    let file of fileCodeName
                      ? [fileCodeName]
                      : submitForm.get('importCodeFileName')?.value;
                    let i = index
                  "
                >
                  <img src="assets/icons/xls.svg" class="w-6" />
                  <div class="flex-1 text-gray-400 text-sm truncate">
                    {{ file }}
                  </div>
                  <div
                    *ngIf="mode == 'create'"
                    class="cursor-pointer"
                    (click)="removeFileCode()"
                  >
                    <img src="assets/icons/x.svg" class="w-6" />
                  </div>
                </div>

                <input
                  type="file"
                  class="hidden"
                  accept=".xls,.xlsx"
                  #inputCode
                  (change)="inputCodeChange($event)"
                />
              </div>
            </div>

            <div *ngIf="[1, 2].includes(submitForm.get('typeId')?.value || 0)">
              <div class="my-2 flex space-x-4">
                <div class="flex-1">
                  <div class="text-sm">จำกัดสิทธิ์/ตลอดรายการ</div>
                  <input
                    name="limit"
                    formControlName="limit"
                    class="input text-right"
                    placeholder="จำกัดสิทธิ์/ตลอดรายการ"
                  />
                </div>
                <div class="flex-1">
                  <div class="text-sm">จำกัดสิทธิ์/ต่อเดือน</div>
                  <input
                    name="limitPerMonth"
                    formControlName="limitPerMonth"
                    class="input text-right"
                    placeholder="จำกัดสิทธิ์/ต่อเดือน"
                  />
                </div>
              </div>

              <div class="my-2 flex space-x-4">
                <div class="flex-1">
                  <div class="text-sm">จำกัดสิทธิ์/บัตร/ต่อเดือน</div>
                  <input
                    name="limitPerCardMonth"
                    formControlName="limitPerCardMonth"
                    class="input text-right"
                    placeholder="จำกัดสิทธิ์/บัตร/ต่อเดือน"
                  />
                </div>
                <div class="flex-1">
                  <div class="text-sm">จำกัดสิทธิ์/บัตร/ต่อวัน</div>
                  <input
                    name="limitPerCardDay"
                    formControlName="limitPerCardDay"
                    class="input text-right"
                    placeholder="จำกัดสิทธิ์/บัตร/ต่อวัน"
                  />
                </div>
              </div>

              <div class="text-sm text-primary">
                *หากต้องการระบุค่าไม่จำกัดจำนวน กรุณาใส่ 0*
              </div>
            </div>

            <div
              *ngIf="(submitForm.get('typeId')?.value || 0) > 0"
              class="my-2"
            >
              <div class="mb-2">ประเภทบัตรที่ใช้โปรโมชันได้</div>
              <div class="flex flex-wrap -mx-1">
                <div class="p-1 w-full">
                  <div
                    class="px-4 py-2 bg-pink-100 rounded-md flex items-center space-x-2"
                  >
                    <img src="assets/icons/cards/visa.svg" class="w-8" />
                    <div class="flex-1 text-sm">GSB ทุกประเภท</div>
                    <app-checkbox
                      [value]="
                        submitForm.get('cardId')?.value?.length ==
                        cardIds.length
                      "
                      [partial]="
                        (submitForm.get('cardId')?.value || []).length > 0 &&
                        (submitForm.get('cardId')?.value || []).length !=
                          cardIds.length
                      "
                      (valueUpdate)="
                        submitForm
                          .get('cardId')
                          ?.setValue($event ? cardIds : [])
                      "
                      [disabled]="mode == 'view'"
                    ></app-checkbox>
                  </div>
                </div>

                <div class="p-1 w-1/2" *ngFor="let card of cards">
                  <div
                    class="px-4 py-2 bg-pink-100 rounded-md flex items-center space-x-2"
                  >
                    <img [src]="card.imageUrl" class="w-8" />
                    <div class="flex-1 text-sm truncate">{{ card.name }}</div>
                    <app-checkbox
                      [value]="
                        submitForm.get('cardId')?.value?.includes(card.id)
                      "
                      (valueUpdate)="updateCard($event, card.id)"
                      [disabled]="mode == 'view'"
                    ></app-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full max-w-lg px-4">
          <div class="font-semibold my-2">รูปภาพ</div>
          <div class="border border-gray-100 rounded-md p-6 pb-12">
            <div class="text-sm">รูปภาพหน้าปก</div>
            <div class="px-6">
              <div
                *ngIf="
                  !(coverImageBase64 || submitForm.get('coverImageUrl')?.value)
                "
                class="w-full mt-6 aspect-w-3 aspect-h-2 flex justify-center items-center rounded-md bg-gray-300"
              >
                <img src="assets/icons/img.svg" class="w-11 mx-auto" />
              </div>

              <div
                class="relative"
                *ngIf="
                  coverImageBase64 || submitForm.get('coverImageUrl')?.value
                "
              >
                <img
                  *ngIf="mode != 'view'"
                  class="w-16 h-16 absolute top-0 right-0 z-10 cursor-pointer"
                  style="right: 0"
                  src="assets/icons/x-circle.svg"
                  (click)="
                    coverImageBase64 = '';
                    submitForm.get('coverImageUrl')?.setValue('')
                  "
                />
                <div
                  class="w-full mt-6 aspect-w-3 aspect-h-2 flex justify-center items-center rounded-md bg-gray-300 overflow-hidden"
                >
                  <img
                    class="w-full h-full object-cover"
                    [src]="
                      coverImageBase64 || submitForm.get('coverImageUrl')?.value
                    "
                  />
                </div>
              </div>

              <input
                type="file"
                class="hidden"
                accept="application/image"
                #inputImage
                (change)="inputFileChange($event)"
              />

              <div class="my-4 text-center text-gray-400 text-sm">
                เลือกรูปภาพที่ใช้เป็น Banner ( ขนาด 1179 x 834 .png )
              </div>

              <div class="flex justify-center">
                <button
                  class="button-border text-center flex items-center justify-center space-x-4"
                  type="button"
                  (click)="inputImage.click()"
                  [disabled]="mode == 'view'"
                >
                  <img src="assets/icons/upload.svg" class="w-6" />
                  <div>อัปโหลดไฟล์รูปภาพ</div>
                </button>
              </div>

              <div class="text-sm mt-6">รูปภาพเนื้อหา</div>
              <div *ngIf="imageBase64?.length" class="flex flex-wrap mt-6">
                <div
                  class="relative p-1"
                  *ngFor="let img of imageBase64; let i = index"
                >
                  <img
                    *ngIf="mode != 'view'"
                    class="w-16 h-16 absolute top-0 right-0 z-10 cursor-pointer"
                    style="right: 0"
                    src="assets/icons/x-circle.svg"
                    (click)="removeImg(i)"
                  />
                  <div
                    class="w-32 h-20 flex justify-center items-center rounded-md bg-gray-300 overflow-hidden"
                  >
                    <img [src]="img" class="w-full mx-auto cursor-pointer" />
                  </div>
                </div>
              </div>
              <div *ngIf="!imageBase64?.length" class="flex flex-wrap mt-6">
                <div class="relative p-1">
                  <div
                    class="w-32 h-20 flex justify-center items-center rounded-md bg-gray-300"
                  >
                    <img
                      src="assets/icons/img.svg"
                      class="w-11 mx-auto cursor-pointer"
                    />
                  </div>
                </div>
              </div>

              <input
                type="file"
                class="hidden"
                accept="application/image"
                #inputImage2
                (change)="inputFile2Change($event)"
              />

              <div class="my-4 text-center text-gray-400 text-sm">
                เลือกรูปภาพที่ใช้เป็น Banner ( ขนาด 1179 x 834 .png )
              </div>

              <div class="flex justify-center">
                <button
                  *ngIf="mode != 'view'"
                  class="button-border text-center flex items-center justify-center space-x-4"
                  type="button"
                  (click)="inputImage2.click()"
                  [disabled]="mode == 'view'"
                >
                  <img src="assets/icons/upload.svg" class="w-6" />
                  <div>อัปโหลดไฟล์รูปภาพ</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="sticky bottom-0 px-6 py-6 box-shadow-bottom bg-white flex justify-end space-x-4 -mx-4 -my-2"
    >
      <a routerLink="/promotion-management"
        ><button class="button-default-border w-auto px-6" type="button">
          ยกเลิก
        </button></a
      >
      <button
        *ngIf="mode == 'view'"
        class="button-dark w-auto px-6"
        type="button"
        (click)="edit()"
      >
        แก้ไข
      </button>
      <button
        *ngIf="mode == 'edit'"
        class="button w-auto px-6"
        type="submit"
        [disabled]="!submitForm.valid"
      >
        {{ id == "create" ? "สร้างโปรโมชัน" : "บันทึกโปรโมชัน" }}
      </button>
    </div>
  </form>

  <create-udpate-category-management-dialog
    [showDetail]="showDetail"
    (success)="createCategorySuccess()"
  ></create-udpate-category-management-dialog>

  <app-alert [(show)]="fileErrorId">
    <div class="text-center" [innerHTML]="fileError"></div>
  </app-alert>
</div>
