<div class="h-screen w-full auth-bg flex items-center justify-center">
  <div class="w-full max-w-md bg-white rounded-xl py-4 px-8 shadow-lg">
    <img src="assets/images/logo-large.png" class="mx-auto w-56 my-4" alt="">
    <div class="mb-6 text-center text-xl font-semibold">
      เข้าสู่ระบบจัดการแอปพลิเคชัน
    </div>

    <div class="my-3">
      <div class="text-sm">ชื่อผู้ใช้งาน / อีเมล์</div>
      <input class="input w-full focus:border-primary border-gray-200 rounded-md placeholder:text-gray-300" type="text" placeholder="กรอกชื่อผู้ใช้งาน / อีเมล์">
    </div>

    <div class="my-3">
      <div class="text-sm">รหัสผ่าน</div>
      <input class="input w-full focus:border-primary border-gray-200 rounded-md placeholder:text-gray-300" type="text"
        placeholder="กรอกรหัสผ่าน">
    </div>

    <div class="mt-8 mb-3 text-primary underline text-sm">ลืมรหัสผ่าน ?</div>

    <button class="mb-6 w-full bg-primary text-white text-center font-semibold rounded-md  py-2">เข้าสู่ระบบ</button>
  </div>
</div>