<div class="flex flex-col h-full">
  <div class="flex items-center my-2 space-x-4">
    <app-nav title="จัดการโปรโมชัน" class="flex-1"></app-nav>
    <a routerLink="/promotion-management/highlight"
      ><button class="button-dark">จัดการไฮไลท์โปรโมชัน</button></a
    >
    <a routerLink="/promotion-management/create"
      ><button class="button">สร้างโปรโมชัน</button></a
    >
  </div>

  <div class="flex-1 mx-w my-2 bg-white">
    <div class="py-4 px-6 flex space-x-4">
      <div class="flex-1 flex relative">
        <img
          src="assets/icons/search.svg"
          class="mx-auto w-6 absolute top-2 left-2"
          alt=""
        />
        <input
          class="input max-w-md pl-10"
          [(ngModel)]="q"
          placeholder="ค้นหา: ชื่อโปรโมชัน"
          (ngModelChange)="qChange()"
        />
      </div>
      <div class="flex items-center space-x-2">
        <div>หมวดหมู่</div>
        <select2
          class="flex w-44"
          [value]="category"
          (update)="categoryChange($event)"
          [data]="categoryOption"
          placeholder="หมวดหมู่ : ทั้งหมด"
        ></select2>
      </div>
      <div class="flex items-center space-x-2">
        <div>ประเภท</div>
        <select2
          class="flex w-44"
          [value]="type"
          (update)="typeChange($event)"
          [data]="typeOption"
          placeholder="ประเภท : ทั้งหมด"
        ></select2>
      </div>
      <div class="flex items-center space-x-2">
        <div>สถานะ</div>
        <select2
          class="flex w-44"
          [value]="status"
          (update)="statusChange($event)"
          [data]="statusOption"
          placeholder="สถานะ : ทั้งหมด"
        ></select2>
      </div>
    </div>

    <div class="px-6 table w-full">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell">#</div>
          <div class="table-cell">หมวดหมู่</div>
          <div class="table-cell">ประเภทโปรโมชัน</div>
          <div class="table-cell">ชื่อโปรโมชัน</div>
          <div class="table-cell">วันที่สร้าง</div>
          <div class="table-cell">วันที่สิ้นสุด</div>
          <div class="table-cell">สถานะ</div>
          <div class="table-cell w-8">&nbsp;</div>
        </div>
      </div>
      <div class="table-row-group">
        <div class="table-row" *ngFor="let item of list; let i = index">
          <div class="table-cell">{{ i + 1 }}</div>
          <div class="table-cell">{{ item.categoryName }}</div>
          <div class="table-cell">{{ item.typeName }}</div>
          <div class="table-cell">{{ item.name }}</div>
          <div class="table-cell">
            {{ dateFormat(item.startDate) }}
          </div>
          <div class="table-cell">{{ dateFormat(item.endDate) }}</div>
          <div class="table-cell">
            <div class="flex flex-nowrap space-x-2 items-center">
              <div
                class="w-2 h-2 rounded-full"
                [ngClass]="{
                  'bg-green-500': item.isActive,
                  'bg-gray-500': !item.isActive
                }"
              ></div>
              <div>{{ item.isActive ? "แสดงผล" : "ไม่แสดงผล" }}</div>
            </div>
          </div>
          <div class="table-cell text-center w-8">
            <app-dropdown>
              <div button>
                <img src="assets/icons/option.svg" class="w-1 mx-auto" alt="" />
              </div>
              <div dropdown class="divide-y divide-gray-100">
                <a
                  [routerLink]="'/promotion-management/' + item.id"
                  [queryParams]="{ mode: 'view' }"
                  class="flex px-4 py-2"
                >
                  <div class="flex-1">ดูรายละเอียด</div>
                  <img src="assets/icons/view.svg" class="w-6" alt="" />
                </a>
                <a
                  [routerLink]="'/promotion-management/' + item.id"
                  class="flex px-4 py-2"
                >
                  <div class="flex-1">แก้ไขข้อมูล</div>
                  <img src="assets/icons/edit.svg" class="w-6" alt="" />
                </a>
                <a
                  class="flex px-4 py-2 cursor-pointer"
                  (click)="deleteClick(item.id, item.isActive)"
                >
                  <div class="flex-1">ลบข้อมูล</div>
                  <img src="assets/icons/remove.svg" class="w-6" alt="" />
                </a>
              </div>
            </app-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center font-semibold py-6" *ngIf="q && !list.length">
      ไม่พบข้อมูลรายการที่ค้นหา
    </div>

    <app-pagination
      [page]="page"
      [totalPage]="totalPage"
      (pageSizeChange)="pageSizeChange($event)"
      (pageChange)="pageChange($event)"
    ></app-pagination>

    <app-confirm
      [(show)]="deleteId"
      (confirm)="deleteConfirm(deleteId)"
      description="คุณแน่ใจที่จะ<span class='text-primary underline'>ลบ</span>ข้อมูล<br/> ใช่หรือไม่ ?"
    ></app-confirm>

    <app-alert [(show)]="alertDeleteId">
      <div class="text-center">
        ข้อมูลของคุณกำลัง
        <span class="text-primary">“Activate”</span> อยู่ในขณะนี้ <br />
        กรุณาทำการ <span class="text-primary">“Inactivate”</span> ข้อมูล<br />
        ก่อนที่จะลบรายการนี้
      </div>
    </app-alert>
  </div>
</div>
