<div class="flex flex-col h-full">
  <div class="flex items-center my-2">
    <app-nav title="หมวดหมู่" class="flex-1"></app-nav>
    <a (click)="createClick()"><button class="button">สร้างหมวดหมู่</button></a>
  </div>

  <div class="flex-1 mx-w my-2 bg-white">
    <div class="py-4 px-6 flex">
      <div class="flex-1 flex relative">
        <img
          src="assets/icons/search.svg"
          class="mx-auto w-6 absolute top-2 left-2"
          alt=""
        />
        <input
          class="input max-w-lg pl-10"
          [(ngModel)]="q"
          placeholder="ค้นหา: หมวดหมู่"
          (ngModelChange)="qChange()"
        />
      </div>
      <div class="flex items-center space-x-2">
        <div>สถานะ</div>
        <select2
          class="flex w-44"
          [value]="status"
          (update)="statusChange($event)"
          [data]="statusOption"
          placeholder="สถานะ : ทั้งหมด"
        ></select2>
      </div>
    </div>

    <div class="px-6 table w-full">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell">#</div>
          <div class="table-cell text-center">ไอคอน</div>
          <div class="table-cell">หมวดหมู่</div>
          <div class="table-cell text-center">วันที่สร้าง</div>
          <div class="table-cell">สถานะ</div>
          <div class="table-cell w-8">&nbsp;</div>
        </div>
      </div>
      <div class="table-row-group">
        <div class="table-row" *ngFor="let item of list; let i = index">
          <div class="table-cell">{{ i + 1 }}</div>
          <div class="table-cell text-center">
            <img
              [src]="item.iconImageUrl"
              class="w-7 h-7 object-cover bg-gray-100 rounded-md mx-auto"
              alt=""
            />
          </div>
          <div class="table-cell">{{ item.name }}</div>
          <div class="table-cell text-center">
            {{ dateFormat(item.createdAt) }}
          </div>

          <div class="table-cell">
            <div class="flex space-x-2 items-center">
              <div
                class="w-2 h-2 rounded-full"
                [ngClass]="{
                  'bg-green-500': item.isActive,
                  'bg-gray-500': !item.isActive
                }"
              ></div>
              <div>{{ item.isActive ? "แสดงผล" : "ไม่แสดงผล" }}</div>
            </div>
          </div>
          <div class="table-cell text-center w-8">
            <app-dropdown>
              <div button>
                <img src="assets/icons/option.svg" class="w-1 mx-auto" alt="" />
              </div>
              <div dropdown>
                <a class="flex px-4 py-2">
                  <div class="flex-1">แก้ไขข้อมูล</div>
                  <img src="assets/icons/edit.svg" class="w-6" alt="" />
                </a>
                <a class="flex px-4 py-2">
                  <div class="flex-1">ลบข้อมูล</div>
                  <img src="assets/icons/remove.svg" class="w-6" alt="" />
                </a>
              </div>
            </app-dropdown>
          </div>
        </div>
      </div>
    </div>

    <app-pagination
      [page]="page"
      [totalPage]="totalPage"
      (pageSizeChange)="pageSizeChange($event)"
      (pageChange)="pageChange($event)"
    ></app-pagination>
  </div>

  <!-- modal -->
  <div class="relative z-10 transition-all" [hidden]="!showDetail">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-center justify-center p-4">
        <div class="w-full max-w-lg bg-white rounded-md overflow-hidden">
          <div class="py-4 px-6 border-b border-gray-100 font-semibold">
            {{ showDetail == "create" ? "เพิ่มหมวดหมู่" : "แก้ไขหมวดหมู่" }}
          </div>

          <form
            [formGroup]="createUpdateForm"
            (submit)="sf.form.valid && onCreateUpdateSubmit()"
            #sf="ngForm"
            class="flex flex-col h-full"
          >
            <div class="px-6 py-4">
              <div class="relative">
                <div class="text-sm">ชื่อหมวดหมู่</div>
                <input
                  class="input"
                  name="name"
                  formControlName="name"
                  required
                  placeholder="ชื่อหมวดหมู่"
                />
              </div>

              <div class="my-4">
                <div class="text-sm">รูปภาพไอคอนหมวดหมู่</div>
                <div class="">
                  <div
                    *ngIf="!createUpdateForm.get('imageBase64')?.value"
                    (click)="inputImage.click()"
                    class="w-20 h-20 mt-2 flex justify-center items-center rounded-md bg-gray-300 cursor-pointer"
                  >
                    <img src="assets/icons/img.svg" class="w-11 mx-auto" />
                  </div>

                  <div
                    *ngIf="createUpdateForm.get('imageBase64')?.value"
                    (click)="inputImage.click()"
                    class="relative"
                  >
                    <div
                      class="w-20 h-20 mt-2 flex justify-center items-center rounded-md bg-gray-300 overflow-hidden cursor-pointer"
                    >
                      <img
                        class="w-full h-full object-cover"
                        [src]="createUpdateForm.get('imageBase64')?.value"
                      />
                    </div>
                  </div>

                  <input
                    type="file"
                    class="hidden"
                    accept="application/image"
                    #inputImage
                    (change)="inputFileChange($event)"
                  />

                  <div class="my-4 text-gray-400 text-sm">
                    เลือกรูปภาพที่ใช้เป็น icon ( ขนาด 96 x 96 .png )
                  </div>
                </div>
              </div>
            </div>

            <div
              class="px-4 py-4 flex justify-end space-x-4 border-t border-gray-100"
            >
              <button class="button-default-border" (click)="showDetail = ''">
                ยกเลิก
              </button>
              <button
                class="button"
                type="submit"
                [disabled]="!createUpdateForm.valid"
              >
                {{ showDetail == "create" ? "เพิ่มหมวดหมู่" : "แก้ไขหมวดหมู่" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
