<div class="flex flex-col h-full">
  <div class="flex items-center my-2 space-x-4">
    <app-nav
      title="จัดการไฮไลท์ : โปรโมชัน"
      [items]="navItems"
      class="flex-1"
    ></app-nav>

    <a><button class="button" (click)="show()">เลือกรายการ</button></a>
  </div>
  <div class="px-4">
    <div class="flex items-center space-x-2">
      <div class="font-semibold">ประเภทบัตร :</div>

      <select2
        class="flex w-44"
        [value]="card"
        (update)="cardChange($event)"
        [data]="cardOption"
        placeholder="ประเภทบัตร"
      ></select2>
    </div>
  </div>

  <div class="flex-1 mx-w my-2 bg-white">
    <div class="px-6 table w-full my-6">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell text-center">ลำดับ</div>
          <div class="table-cell">หมวดหมู่</div>
          <div class="table-cell">ประเภทโปรโมชัน</div>
          <div class="table-cell">ชื่อโปรโมชัน</div>
          <div class="table-cell">วันที่แสดง</div>
          <div class="table-cell">วันที่สิ้นสุด</div>
          <div class="table-cell">ลบ</div>
        </div>
      </div>
      <div
        class="table-row-group"
        cdkDropList
        (cdkDropListDropped)="onDrop($event)"
      >
        <div
          class="table-row"
          *ngFor="let item of list; let i = index"
          cdkDrag
          cdkDragLockAxis="y"
        >
          <div class="table-cell text-center">
            <img src="assets/icons/list.svg" class="w-6 mx-auto" alt="" />
          </div>
          <div class="table-cell">
            {{ item.categoryName }}
          </div>
          <div class="table-cell">
            {{ item.typeName }}
          </div>
          <div class="table-cell">
            {{ item.name }}
          </div>
          <div class="table-cell">
            {{ dateFormat(item.startDate) }}
          </div>
          <div class="table-cell">{{ dateFormat(item.endDate) }}</div>
          <div class="table-cell text-center">
            <img
              src="assets/icons/delete.svg"
              class="mx-auto cursor-pointer"
              (click)="delete(i)"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal -->
  <div class="relative z-10 transition-all" [hidden]="!showSelected">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-center justify-center p-4">
        <div class="w-full max-w-3xl bg-white rounded-md overflow-hidden">
          <div class="py-4 px-6 border-b border-gray-100 font-semibold">
            จัดการไฮไลท์ : โปรโมชัน
          </div>
          <div class="px-6 py-4">
            <div class="flex-1 flex relative">
              <img
                src="assets/icons/search.svg"
                class="mx-auto w-6 absolute top-2 left-2"
                alt=""
              />
              <input
                class="input max-w-xs pl-10"
                [(ngModel)]="q"
                placeholder="ค้นหา: โฆษณา"
                (ngModelChange)="qChange()"
              />
            </div>
          </div>
          <div class="px-6 pb-6 table w-full">
            <div class="table-header-group">
              <div class="table-row">
                <div class="table-cell text-center">เลือก</div>
                <div class="table-cell">หมวดหมู่</div>
                <div class="table-cell">ประเภทโปรโมชัน</div>
                <div class="table-cell">ชื่อโปรโมชัน</div>
                <div class="table-cell">วันที่แสดง</div>
                <div class="table-cell">วันที่สิ้นสุด</div>
              </div>
            </div>
            <div class="table-row-group">
              <div
                class="table-row"
                *ngFor="let item of promotions; let i = index"
              >
                <div class="table-cell text-center">
                  <app-checkbox
                    [value]="item.select"
                    (valueUpdate)="item.select = $event"
                  ></app-checkbox>
                </div>
                <div class="table-cell">
                  {{ item.category_name }}
                </div>
                <div class="table-cell">
                  {{ item.type_name }}
                </div>
                <div class="table-cell">
                  {{ item.name }}
                </div>
                <div class="table-cell">
                  {{ dateFormat(item.startDate) }}
                </div>
                <div class="table-cell">{{ dateFormat(item.endDate) }}</div>
              </div>
            </div>
          </div>
          <div
            class="px-4 py-4 flex justify-end space-x-4 border-t border-gray-100"
          >
            <button
              class="button-default-border"
              (click)="showSelected = false"
            >
              ยกเลิก
            </button>
            <button class="button" (click)="selectedClick()">
              ยืนยันรายการ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="sticky bottom-0 px-6 py-6 box-shadow-bottom bg-white flex justify-end space-x-4 -mx-4 -my-2"
  >
    <a routerLink="/promotion-management"
      ><button class="button-default-border w-auto px-6">ยกเลิก</button></a
    >
    <button class="button w-auto px-6" (click)="submitClick()">
      บันทึกไฮไลท์โปรโมชัน
    </button>
  </div>
</div>
