<div class="h-full">
  <form
    [formGroup]="submitForm"
    (submit)="onSubmit()"
    #sf="ngForm"
    class="flex flex-col h-full"
  >
    <div class="flex items-center my-2">
      <app-nav title="จัดการโฆษณา" [items]="navItems" class="flex-1"></app-nav>
      <div class="flex items-center space-x-2 text-sm">
        <div>สถานะ</div>
        <app-toggle
          [value]="submitForm.get('isActive')?.value || false"
          (valueUpdate)="submitForm.get('isActive')?.setValue($event)"
          [disabled]="
            mode == 'view' || dateBeforeNow(submitForm.get('endDate')?.value)
          "
        ></app-toggle>
        <div>
          {{ submitForm.get("isActive")?.value ? "แสดงผล" : "ไม่แสดงผล" }}
        </div>
      </div>
    </div>

    <div class="flex-1 my-2 py-6 bg-white">
      <div class="flex">
        <div class="w-full max-w-md px-4">
          <div class="font-semibold my-2">โฆษณา</div>
          <div class="border border-gray-100 rounded-md p-6 space-y-4">
            <div class="">
              <div class="text-sm">ชื่อโฆษณา</div>
              <input
                class="input"
                name="name"
                formControlName="name"
                required
                placeholder="ชื่อโฆษณา"
              />
            </div>
            <div class="relative">
              <div class="text-sm">วันที่แสดง</div>
              <input
                class="input"
                [owlDateTime]="startDate"
                [owlDateTimeTrigger]="startDate"
                name="startDate"
                formControlName="startDate"
                placeholder="วว/ดด/ปปปป"
                [min]="currentDate"
              />
              <img
                [owlDateTimeTrigger]="startDate"
                src="assets/icons/calendar.svg"
                class="absolute bottom-2 right-2 w-6 cursor-pointer"
              />
              <owl-date-time #startDate pickerType="calendar"></owl-date-time>
            </div>
            <div class="relative">
              <div class="text-sm">วันที่สิ้นสุด</div>
              <input
                class="input"
                [owlDateTime]="endDate"
                [owlDateTimeTrigger]="endDate"
                name="endDate"
                formControlName="endDate"
                placeholder="วว/ดด/ปปปป"
                [min]="submitForm.get('endDate')?.value || currentDate"
              />
              <img
                [owlDateTimeTrigger]="endDate"
                src="assets/icons/calendar.svg"
                class="absolute bottom-2 right-2 w-6 cursor-pointer"
              />
              <owl-date-time #endDate pickerType="calendar"></owl-date-time>
            </div>
            <div class="relative">
              <div class="text-sm">ลิงค์ที่เกี่ยวข้อง</div>
              <img
                src="assets/icons/link.svg"
                class="absolute bottom-2 right-2 w-6"
              />
              <input
                class="input"
                name="linkUrl"
                formControlName="linkUrl"
                placeholder="https://"
              />
            </div>
          </div>
        </div>
        <div class="w-full max-w-md px-4">
          <div class="font-semibold my-2">รูปภาพโฆษณา</div>
          <div class="border border-gray-100 rounded-md p-6 pb-12">
            <div class="text-sm">รูปภาพโฆษณา</div>
            <div class="px-6">
              <div
                *ngIf="!(imageBase64 || submitForm.get('imageUrl')?.value)"
                class="w-full mt-6 aspect-w-3 aspect-h-4 flex justify-center items-center rounded-md bg-gray-300"
              >
                <img src="assets/icons/img.svg" class="w-11 mx-auto" />
              </div>

              <div
                *ngIf="imageBase64 || submitForm.get('imageUrl')?.value"
                class="relative"
              >
                <img
                  class="w-16 h-16 absolute top-0 right-0 z-10 cursor-pointer"
                  style="right: 0"
                  src="assets/icons/x-circle.svg"
                  (click)="submitForm.get('imageUrl')?.setValue('')"
                />
                <div
                  class="w-full mt-6 aspect-w-3 aspect-h-4 flex justify-center items-center rounded-md bg-gray-300 overflow-hidden"
                >
                  <img
                    class="w-full h-full object-cover"
                    [src]="imageBase64 || submitForm.get('imageUrl')?.value"
                  />
                </div>
              </div>

              <input
                type="file"
                class="hidden"
                accept="application/image"
                #inputImage
                (change)="inputFileChange($event)"
              />

              <div class="my-4 text-center text-gray-400 text-sm">
                เลือกรูปภาพที่ใช้เป็น Force ads. ( ขนาด 626 x 884 .png )
              </div>
              <div class="flex justify-center">
                <button
                  [disabled]="mode == 'view'"
                  (click)="inputImage.click()"
                  class="button-border text-center flex items-center justify-center space-x-4"
                  type="button"
                >
                  <img src="assets/icons/upload.svg" class="w-6" />
                  <div>อัปโหลดไฟล์รูปภาพ</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="sticky bottom-0 px-6 py-6 box-shadow-bottom bg-white flex justify-end space-x-4 -mx-4 -my-2"
    >
      <a routerLink="/ad-management"
        ><button class="button-default-border w-auto px-6">ยกเลิก</button></a
      >
      <button
        *ngIf="mode == 'view'"
        class="button-dark w-auto px-6"
        type="button"
        (click)="edit()"
      >
        แก้ไข
      </button>
      <button
        *ngIf="mode == 'edit'"
        class="button w-auto px-6"
        type="submit"
        [disabled]="
          !submitForm.get('name')?.value ||
          !submitForm.get('startDate')?.value ||
          !submitForm.get('endDate')?.value
        "
      >
        {{ id == "create" ? "สร้างโฆษณา" : "บันทึกโฆษณา" }}
      </button>
    </div>
  </form>

  <app-alert [(show)]="fileErrorId">
    <div class="text-center" [innerHTML]="fileError"></div>
  </app-alert>
</div>
