.checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
}

.checkbox-wrapper-22 .switch input {
    display: none;
}

.checkbox-wrapper-22 .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 18px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 18px;
}

.checkbox-wrapper-22 input:checked+.slider {
    background-color: #EC068D;
}

.checkbox-wrapper-22 input:checked+.slider:before {
    transform: translateX(26px);
}

.checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
}