<div class="flex flex-col h-full">
  <div class="flex items-center my-2 space-x-4">
    <app-nav
      title="จัดการไฮไลท์ : พาร์ทเนอร์"
      [items]="navItems"
      class="flex-1"
    ></app-nav>

    <a *ngIf="roleEditable"
      ><button class="button" (click)="showSelectClick()">
        เลือกรายการ
      </button></a
    >
  </div>

  <div class="flex-1 mx-w my-2 bg-white">
    <div class="px-6 table w-full my-6">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell text-center">ลำดับ</div>
          <div class="table-cell text-center">โลโก้</div>
          <div class="table-cell">พาร์ทเนอร์</div>
          <div class="table-cell text-center">วันที่สร้าง</div>
          <div class="table-cell">ลบ</div>
        </div>
      </div>
      <div
        class="table-row-group"
        cdkDropList
        (cdkDropListDropped)="onDrop($event)"
      >
        <div
          class="table-row"
          *ngFor="let item of list; let i = index"
          cdkDrag
          cdkDragLockAxis="y"
        >
          <div class="table-cell text-center">
            <img
              src="assets/icons/list.svg"
              class="w-6 mx-auto cursor-pointer"
              alt=""
            />
          </div>
          <div class="table-cell text-center">
            <img
              [src]="item.imageUrl"
              class="w-7 h-7 object-cover bg-gray-100 rounded-md mx-auto"
              alt=""
            />
          </div>
          <div class="table-cell">{{ item.name }}</div>
          <div class="table-cell text-center">
            {{ dateFormat(item.createdAt) }}
          </div>

          <div class="table-cell text-center">
            <img
              src="assets/icons/delete.svg"
              class="mx-auto cursor-pointer"
              (click)="removeClick(item.id || 0)"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal -->
  <div class="relative z-10 transition-all" [hidden]="!showSelected">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-center justify-center p-4">
        <div class="w-full max-w-3xl bg-white rounded-md overflow-hidden">
          <div class="py-4 px-6 border-b border-gray-100 font-semibold">
            จัดการไฮไลท์ : พาร์ทเนอร์
          </div>
          <div class="px-6 py-4">
            <div class="flex-1 flex relative">
              <img
                src="assets/icons/search.svg"
                class="mx-auto w-6 absolute top-2 left-2"
                alt=""
              />
              <input
                class="input max-w-xs pl-10"
                [(ngModel)]="q"
                placeholder="ค้นหา: พาร์ทเนอร์"
                (ngModelChange)="qChange()"
              />
            </div>
          </div>
          <div class="px-6 pb-6 table w-full">
            <div class="table-header-group">
              <div class="table-row">
                <div class="table-cell text-center">เลือก</div>
                <div class="table-cell text-center">โลโก้</div>
                <div class="table-cell">พาร์ทเนอร์</div>
                <div class="table-cell text-center">วันที่สร้าง</div>
              </div>
            </div>
            <div class="table-row-group">
              <div class="table-row" *ngFor="let item of all; let i = index">
                <div class="table-cell text-center">
                  <app-checkbox
                    [value]="item.select"
                    (valueUpdate)="item.select = $event"
                  ></app-checkbox>
                </div>
                <div class="table-cell text-center">
                  <img
                    [src]="item.imageUrl"
                    class="w-7 h-7 object-cover bg-gray-100 rounded-md mx-auto"
                    alt=""
                  />
                </div>
                <div class="table-cell">{{ item.name }}</div>
                <div class="table-cell text-center">
                  {{ dateFormat(item.createdAt) }}
                </div>
              </div>
            </div>
          </div>

          <div
            *ngIf="all.length == 0"
            class="px-6 py-12 text-gray-400 text-center"
          >
            ไม่พบข้อมูลรายการที่ค้นหา
          </div>

          <div
            class="px-4 py-4 flex justify-end space-x-4 border-t border-gray-100"
          >
            <button
              class="button-default-border"
              (click)="showSelected = false"
            >
              ยกเลิก
            </button>
            <button class="button" (click)="selectedClick()">
              ยืนยันรายการ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="sticky bottom-0 px-6 py-6 box-shadow-bottom bg-white flex justify-end space-x-4 -mx-4 -my-2"
  >
    <a routerLink="/partner-management"
      ><button class="button-default-border w-auto px-6">ยกเลิก</button></a
    >
    <button
      *ngIf="roleEditable"
      class="button w-auto px-6"
      (click)="confirmClick()"
    >
      บันทึกไฮไลท์พาร์ทเนอร์
    </button>
  </div>
</div>
