
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Noto Sans Thai', sans-serif;
}

.content {
    background-color: #F6F5F7;
}

@layer components {
    .input {
        @apply w-full focus:border-primary border-gray-200 rounded-md placeholder:text-gray-300;
    }
    .input:focus {
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
    }

    .button {
        @apply w-full bg-primary text-white text-center font-semibold rounded-md py-2 disabled:bg-opacity-25;
    }
}