
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Noto Sans Thai', sans-serif;
}

.content {
    background-color: #F6F5F7;
}

.input:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}