
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Noto Sans Thai', sans-serif;
}

.content {
    background-color: #F6F5F7;
}

@layer components {
    .input, .angular-editor-textarea{
        @apply w-full focus:border-primary border-gray-200 rounded-md placeholder:text-gray-300;
    }
    .input:focus, .angular-editor-textarea:focus {
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
    }
    .input:disabled {
        @apply bg-gray-100;
    }

    .button {
        @apply w-auto bg-primary text-white text-center rounded-md py-2 px-6 disabled:bg-opacity-25;
    }
    .button-border {
        @apply w-auto border border-primary text-primary text-center rounded-md py-2 px-6 disabled:bg-opacity-25;
    }
    .button-default-border {
        @apply w-auto border border-gray-500 text-gray-800 text-center rounded-md py-2 px-6 disabled:bg-opacity-25;
    }
    .button-dark {
        @apply w-auto bg-gray-950 text-white text-center rounded-md py-2 px-6 disabled:bg-opacity-25;
    }
    .button-yellow {
        @apply w-auto text-white text-center rounded-md py-2 px-6 disabled:bg-opacity-25;
        background-color: #AF7B0A;
    }


    .table-header-group {
        @apply w-full bg-primary text-white;
    }
    .table-cell {
        @apply px-4 py-3;
    }
    .table-row:nth-child(even) {
        @apply bg-gray-100;
    }

    .box-shadow-bottom {
        box-shadow: -6px -5px 19px -2px rgba(0,0,0,0.23);
        -webkit-box-shadow: -6px -5px 19px -2px rgba(0,0,0,0.23);
        -moz-box-shadow: -6px -5px 19px -2px rgba(0,0,0,0.23);
    }

    .text-10px {
        font-size: 10px;
    }
}

.owl-dt-calendar-cell-selected {
    background-color: #EC068D !important;
}

select2  {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none !important;
}

.custom-date-picker .owl-dt-calendar-control {
    display: none;
}

.custom-date-picker .owl-dt-calendar-header {
    display: none;
}

.owl-dt-calendar-control-content button.owl-dt-control-button {
    user-select: none !important;
    pointer-events: none !important;
}
.owl-dt-calendar-control-content .owl-dt-control-button-arrow {
    display: none !important;
}
/* .angular-editor-toolbar-set {
    position: relative;
} */
/* .angular-editor-toolbar-set button {
    opacity: 50%;
}

.angular-editor-toolbar-set input[type="color"] {
    display: block !important;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 50%;
} */


.owl-dt-timer-input, .owl-dt-timer-content {
    pointer-events: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
}
.disabled-input {
    user-select: none !important;
    -webkit-user-select: none !important;
}
.owl-dt-inline-container,
.owl-dt-popup-container {
        border-radius: 6px;
}
