<div class="h-full">
  <form
    [formGroup]="submitForm"
    (submit)="onSubmit()"
    #sf="ngForm"
    class="flex flex-col h-full"
  >
    <div class="flex items-center my-2">
      <app-nav
        title="จัดการการแจ้งเตือน"
        [items]="navItems"
        class="flex-1"
      ></app-nav>
      <div class="flex items-center space-x-2 text-sm">
        <!-- <div>สถานะ</div>
        <app-toggle
          [value]="submitForm.get('isActive')?.value || false"
          (valueUpdate)="submitForm.get('isActive')?.setValue($event)"
          [disabled]="mode == 'view'"
        ></app-toggle>
        <div>
          {{ submitForm.get("isActive")?.value ? "แสดงผล" : "ไม่แสดงผล" }}
        </div> -->
      </div>
    </div>

    <div class="flex-1 my-2 py-6 bg-white">
      <div class="flex">
        <div class="w-full max-w-md px-4">
          <div class="font-semibold my-2">หัวข้อการแจ้งเตือน</div>
          <div class="border border-gray-100 rounded-md p-6 space-y-4">
            <div class="">
              <div class="text-sm">หัวข้อ</div>
              <input
                class="input"
                name="subject"
                formControlName="subject"
                required
                placeholder="หัวข้อ"
              />
            </div>

            <div>
              <div class="text-sm">รายละเอียด</div>
              <div>
                <textarea
                  class="input w-full"
                  placeholder="รายละเอียด"
                  minHeight="180"
                  name="description"
                  formControlName="description"
                  rows="10"
                ></textarea>
                <!-- <angular-editor
                  placeholder="รายละเอียด"
                  minHeight="180"
                  name="description"
                  formControlName="description"
                  [config]="editorConfig"
                ></angular-editor> -->
              </div>
            </div>
          </div>
        </div>
        <div class="w-full max-w-md px-4">
          <div class="font-semibold my-2">กำหนดเงื่อนไข และการแสดงผล</div>
          <div class="border border-gray-100 rounded-md p-6 pb-12">
            <div class="mb-4">
              <app-radiobox
                name="date"
                [value]="submitForm.get('isSendNotification')?.value || false"
                (valueUpdate)="isSendNotificationChange(true)"
                [disabled]="mode == 'view'"
                >ส่งการแจ้งเตือนทันที</app-radiobox
              >
              <app-radiobox
                name="date"
                [value]="!submitForm.get('isSendNotification')?.value || false"
                (valueUpdate)="isSendNotificationChange(false)"
                [disabled]="mode == 'view'"
                >ส่งการแจ้งเตือนเมื่อถึงวันแสดงผล</app-radiobox
              >
            </div>

            <div
              *ngIf="!submitForm.get('isSendNotification')?.value"
              class="relative mt-2 mb-6"
            >
              <div class="text-sm">วันที่แสดง</div>
              <input
                class="input"
                [owlDateTime]="date"
                [owlDateTimeTrigger]="date"
                name="sendNotificationDate"
                formControlName="sendNotificationDate"
                placeholder="วว/ดด/ปปปป"
                [owlDateTimeFilter]="startDateFilter"
              />
              <img
                [owlDateTimeTrigger]="date"
                src="assets/icons/calendar.svg"
                class="absolute bottom-2 right-2 w-6 cursor-pointer"
              />
              <owl-date-time #date pickerType="calendar"></owl-date-time>
            </div>

            <div
              *ngIf="!submitForm.get('isSendNotification')?.value"
              class="relative mt-2 mb-6"
            >
              <div class="text-sm">เวลาที่แสดง</div>
              <input
                class="input"
                [owlDateTime]="time"
                [owlDateTimeTrigger]="time"
                name="sendNotificationTime"
                formControlName="sendNotificationTime"
                placeholder="12:00"
                [owlDateTimeFilter]="startDateFilter"
                [min]="today"
              />
              <img
                [owlDateTimeTrigger]="time"
                src="assets/icons/calendar.svg"
                class="absolute bottom-2 right-2 w-6 cursor-pointer"
              />
              <owl-date-time
                #time
                pickerType="timer"
                [stepMinute]="10"
              ></owl-date-time>
            </div>

            <div class="my-2">
              <!-- <app-checkbox
                [value]="submitForm.get('isSendNotification')?.value || false"
                (valueUpdate)="
                  submitForm.get('isSendNotification')?.setValue($event)
                "
                >ส่งการแจ้งเตือนเมื่อถึงวันแสดงผล</app-checkbox
              > -->
            </div>

            <div class="relative">
              <div class="text-sm">ลิงค์ที่เกี่ยวข้อง (ไม่บังคับ)</div>
              <input
                class="input"
                placeholder="https://"
                name="linkUrl"
                formControlName="linkUrl"
              />
              <img
                src="assets/icons/link.svg"
                class="absolute bottom-2 right-2 w-6 cursor-pointer"
              />
            </div>

            <div class="my-4">
              <div class="font-semibold">เงื่อนไขในการใช้</div>
              <div class="space-y-2">
                <app-checkbox
                  [value]="
                    submitForm.get('conditionId')?.value?.length ==
                    cardIds.length
                  "
                  [partial]="
                    (submitForm.get('conditionId')?.value || []).length > 0 &&
                    (submitForm.get('conditionId')?.value || []).length !=
                      cardIds.length
                  "
                  (valueUpdate)="
                    submitForm
                      .get('conditionId')
                      ?.setValue($event ? cardIds : [])
                  "
                  [disabled]="mode == 'view'"
                  >ส่งข่าวสารให้กับสมาชิกทุกคน</app-checkbox
                >
                <app-checkbox
                  *ngFor="let card of cards"
                  [value]="
                    submitForm.get('conditionId')?.value?.includes(card.id)
                  "
                  (valueUpdate)="updateCondition($event, card.id)"
                  [disabled]="mode == 'view'"
                  >ส่งข่าวสารเฉพาะสมาชิกบัตร {{ card.name }}</app-checkbox
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="sticky bottom-0 px-6 py-6 box-shadow-bottom bg-white flex justify-end space-x-4 -mx-4 -my-2"
    >
      <a (click)="back()"
        ><button class="button-default-border w-auto px-6">ยกเลิก</button></a
      >
      <button
        *ngIf="mode == 'view'"
        class="button-dark w-auto px-6"
        type="button"
        (click)="edit()"
      >
        แก้ไข
      </button>
      <button
        *ngIf="mode == 'edit'"
        type="submit"
        class="button w-auto px-6"
        [disabled]="
          !submitForm.get('subject')?.value ||
          !submitForm.get('description')?.value ||
          !submitForm.get('conditionId')?.value
        "
      >
        {{ id == "create" ? "สร้างการแจ้งเตือน" : "บันทึกการแจ้งเตือน" }}
      </button>
    </div>
  </form>
</div>
